body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#nav {
  position: fixed;
  top: 0px;
  display: none;
}

#nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

#main-header {
  font-size: 1.5em;
}

#projects {
  padding-top: 5vh
}

#contact input, textarea {
  width: 100%;
  margin-bottom: 2px;
  background-color: lightgrey;
  border: none;
  padding: 10px;
}

#contact textarea {
  height: 10vh;
} */

#contact button {
  float: right;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid white;
  padding: 5px;
  margin: 0;
}